.text-blue-dark {
    color : var(--main-blue-dark);
}

.text-blue-light {
    color : var(--main-blue-light);
}

.text-grey-dark {
    color : var(--main-grey-dark);
}

.text-grey-placeholder {
    color : var(--main-grey-placeholder);
}

.text-black {
    color : var(--main-black);
}

.text-white-light {
    color : var(--main-white-light);
}

.bg-blue-night {
    background-color: var(--main-blue-night);
}

.bg-light-grey{
    background-color : var(--main-grey-light);
}

.bg-blue-dark{
    background-color : var(--main-blue-dark);
}

.border-white-light {
    border-color: var(--main-white-light);
}

.border-blue-dark {
    border-color: var(--main-blue-dark);
}

.border-grey-dark {
    border-color: var(--main-grey-dark);
}

.btn-blue-dark {
    background-color : var(--main-blue-dark);
    padding: 12px 24px;
    color : #fff;
    font-weight: bold;
    font-size: 1rem;
}

.btn-white {
    background-color : #fff;
    padding: 12px 24px;
    color : var(--main-blue-dark);
    font-weight: bold;
    font-size: 1rem;
}

.list-img-check {
    list-style-image: url('../Images/Icons/check-green.svg');
}

.text-opacity-light {
    opacity : 70%;
}

.logo {
    width : 252px;
}

/* DEBUT - A transférer vers un autre fichier propre a une offre (en cube?) */
.tag-contract {
    background-color: #F8F8FD;
    padding: 4px 12px;
}

.offer-informations {
    color : #515B6F; 
}

/* FIN */

.required {
    position: relative;
    width: fit-content;
}

.required::after{
    content: "*";
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 16px;
    color: red;
}

.input-apply{
    padding : 12px 16px;
    border: 1px solid var(--main-white-light);
    height: 50px;
}