.background {
    background: url('../../Images/Home/happy-guy2.png') no-repeat right top, #f8f8fd;
    background-size: contain;
}

.background-children {
    background : linear-gradient(150deg, #f8f8fd00 97%, #ffffff 97%);
    background-size: cover;
}

.vector-linear::after{
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url('../../Images/Home/vector-lines.png') no-repeat center center;
    background-size: contain;
}

.company-bg{
    background: linear-gradient(150deg, rgba(255,255,255,1) 7%, rgba(70,64,222,1) 7%, rgba(70,64,222,1) 93%, rgba(255,255,255,1) 93%);
}

.gap-offer {
    gap : 10%;
}

.last-request-container {
    background: linear-gradient(150deg, rgba(255,255,255,1) 4%, rgba(248,248,253,1) 4%);
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.offer-card {
    flex: 1 1 calc(25% - 32px);
    border: 1px solid #ccc; 
    padding: 16px; 
    box-sizing: border-box;
    max-width: calc(25% - 24px);
}

.demand-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
}

.demand-card {
    flex: 1 1 calc(50% - 32px);
    padding: 16px; 
    box-sizing: border-box;
    max-width: calc(50% - 16px);
}